.slider img{
    height: 250px;
    margin-left: 35px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px white;
}
.about{
    margin-top: 100px;
}
.carousel{
    width: 550px;
    margin-top: 30px;
}
.aboutContent{
    margin-left: 80px;
}
.aboutContent h1{
    color: #fff;
    font-weight: 700;
}
.aboutContent span{
    background-image: linear-gradient(rgba(108,211,108,255),rgba(45,190,184,255)) ;
    background-clip: text;
    color: transparent;
    font-size: 60px;
    font-weight: 900;
}
.aboutContent p{
    color: rgb(177, 177, 177);
    margin-top: 30px;
    font-size: 18px;
}

@media (max-width: 600px){
    .slider img{
        height: 200px;
        margin-left: 35px;
    }
    .carousel{
        width: 450px;
        margin-left: 40px;
    }
}
@media (min-width: 600px) and (max-width: 800px){
    .slider img{
        /* height: 200px; */
        margin-left: 35px;
    }
    .carousel{
        /* width: 450px; */
        margin-left: 100px;
    }
}
@media (min-width: 800px) and (max-width: 991px){
    .slider img{
        height: 300px;
        margin-left: 50px;
    }
    .carousel{
        width: 670px;
        margin-left: 130px;
    }
}